/* Sommaire 
      *:
      html: 
      :root : 
      body :
      header :
      Les 3 div + main :
      accroche :
      nav :
      mid-header :
      contacter :
      section :
      entete :
      footer :
      fieldset :
      classes secondaires (.ecusson,.logo, #specialbutton,...) :
      balises (li,h1,h2,a...) :
      @media:
*/
* {
  box-sizing: border-box;
}

/* html*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* :root */
:root {
  --primary-background: #e6ecf0;
  --primary-color: #50b7f5;
  --footer-height: 2rem;
  --background-color: rgb(148, 154, 160);
  --police-color: black;
}

/* body*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: var(--background-color);
  color: var(--police-color);
}

/* header */
header {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--primary-color);
  color: white;
}
header h2 {
  text-align: center;
  padding: 0;
}

/* Les 3 div + main*/

main {
  display: flex;
  flex-wrap: wrap;
}
.left {
  border: 1px solid white;
  transition: 0.6s linear;
  flex: 1;
  display: flex;
}
.left:hover {
  border-width: 3px;
  border-color: black;
}

.mid {
  flex: 1;
}
.right {
  flex: 1;
}

/* accroche */
.accroche {
  padding-bottom: 10px;
  border-bottom: 8px solid rgba(214, 210, 210, 0.877);
  padding-right: 10px;
  background-color: var(--primary-background);
  border-left: 1px solid white;
}
.accroche form {
  display: flex;
  flex-direction: column;
}
.accroche__input img {
  border-radius: 50%;
  height: 40px;
}
.accroche__input {
  display: flex;
  padding: 20px;
}
.accroche__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  background-color: var(--primary-background);
  outline: none;
}
.accroche-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* nav */
nav {
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  position: fixed;
  flex: 1;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  color: var(--police-color);
  font-size: 20px;
  font-weight: 800;
  display: block;
}
nav ul li a:hover {
  color: #50b7f5;
}
.nav-option {
  border-radius: 30px;
  padding: 10px;
}
.nav-option:hover {
  background-color: var(--primary-background);
  border-radius: 30px;
  transition: color 100ms ease-out;
}

/* mid-header*/
.mid-header {
  background-color: var(--primary-background);
  z-index: 100;
  border-left: 1px solid white;
  border-top: 1px solid white;
  padding: 15px 20px;
}
.mid-header h2 {
  font-size: 20px;
  font-weight: 800;
}

/* contacter*/
.contacter ul li img {
  text-align: center;
  margin: auto;
  display: flex;
}
.contacter ul {
  list-style: none;
}

/* section */
section {
  border: 1px solid white;
  text-align: center;
  height: auto;
  background-color: var(--primary-background);
  transition: 0.6s linear;
}
section:not(.form, .experiences, .competences) {
  background-color: var(--background-color);
}

section:hover,
.entete:hover {
  border-width: 3px;
  border-color: black;
}

/*entete */
.entete {
  border: 1px solid white;
  transition: 0.6s linear;
}

/* footer*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  height: 50px;
}
footer h2 {
  display: flex;
  font-size: small;
  text-decoration: none;
  color: black;
  left: 15px;
}

/* fieldset*/
fieldset {
  background-color: var(--background-color);
  border: 1px solid var(--primary-background);
  text-align: center;
  height: 500px;
  display: table-row;
}

/* classes secondaires et id*/
.interet {
  border-bottom: 1px solid var(--primary-background);
}
.li {
  list-style-type: none;
}
.logo {
  width: 60px;
  height: 60px;
  margin-left: 60px;
  background-color: white;
  border-radius: 75%;
}
.ecusson {
  position: absolute;
  left: 100px;
  top: 35px;
  width: 60px;
  border-radius: 10%;
}
.lien {
  color: var(--police-color);
  text-decoration: none;
}
.footlien {
  color: var(--police-color);
  text-decoration: none;
  margin-left: 75px;
}
.motivation {
  height: 232px;
}
.motiv {
  text-align: center;
  font-size: 90%;
}
#specialbutton {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}
/* balises*/
li:not(.li) {
  padding-top: 20px;
}
h2 {
  text-align: center;
}
a:link {
  text-decoration: none;
}
h1 {
  font-size: 20px;
  font-weight: 800;
}
ul li {
  text-align: center;
}
label,
input {
  display: table-cell;
  margin-bottom: 10px;
}
label {
  padding-right: 10px;
}
h6 {
  display: none;
  /* W3C showed me a "warning" because my articles and sections did not all have a title. 
  So I had to create a "ghost" title to avoid errors.*/
}

/*@media */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #345164;
    --primary-color: #1b384a;
    --footer-height: 2rem;
    --background-color: gray;
    --police-color: white;
  }
  .accroche__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    background-color: #1b384a;
    outline: none;
    color: var(--police-color);
  }
}

@media screen and (max-width: 768px) {
  nav {
    position: unset;
  }
}
