@media screen and (max-width: 980px) {
  div {
    display: flex;
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root {
  --twitter-background: #e6ecf0;
  --twitter-color: #50b7f5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
}
main {
  display: flex;
  flex-direction: row;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.left {
  width: 25%;
  height: 100vh;
}
.mid {
  width: 50%;
  height: 100vh;
}

.right {
  width: 25%;
  height: 100vh;
}

.mid-header {
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.accroche__input img {
  border-radius: 50%;
  height: 40px;
}

.accroche {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.accroche form {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--twitter-background);
}

.accroche__input {
  display: flex;
  padding: 20px;
}

.accroche__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

li:not(.li) {
  padding-top: 20px;
}

.accroche-button {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

.li {
  list-style-type: none;
}
.mid-header h2 {
  font-size: 20px;
  font-weight: 800;
}

h2 {
  text-align: center;
}

nav {
  align-items: center;
  cursor: pointer;
  position: fixed;
}

.contacter ul {
  list-style: none;
}
nav ul {
  list-style: none;
}
nav ul li a {
  color: black;
  font-size: 20px;
  font-weight: 800;
  display: block;
}
nav ul li a:hover {
  color: #50b7f5;
}

.nav-option {
  border-radius: 30px;
  padding: 20px;
  margin-right: 20px;
}
.nav-option:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  transition: color 100ms ease-out;
}

a:link {
  text-decoration: none;
}
.contacter ul li img {
  text-align: center;
  margin: auto;
  display: flex;
}
.logo {
  width: 60px;
  height: 60px;
  margin-left: 60px;
}
section {
  background: rgba(255, 255, 255, 0.678);
  border: 1px solid var(--twitter-background);
  text-align: center;
  height: auto;
  transition: 0.6s linear;
}

section:hover {
  border-width: 3px;
  border-color: black;
}

.interet {
  border-bottom: 1px solid var(--twitter-background);
}
h1 {
  font-size: 20px;
  font-weight: 800;
}
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 5%;
  background: linear-gradient(to top, #333, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right li {
  padding-bottom: 3px;
}

ul li {
  text-align: center;
}

fieldset {
  background: rgba(255, 255, 255, 0.678);
  border: 1px solid var(--twitter-background);
  text-align: center;
  height: 500px;
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
